<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<p>Built by <a href="{{site.author.website}}" target="_blank">{{site.author.name}}</a>. Please submit any <a href="https://github.com{{site.project.repo}}" target="_blank">bug reports or feature requests.</a></p>
		<ul class="bs-docs-footer-links muted">
			<li>{{site.project.name}} v{{ site.project.version }}</li>
		</ul>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="../dist/js/bootstrap.min.js"></script>