<h1 class="page-header" id="slide-load">Slide Load</h1><p>Slide Load is a jQuery plugin that loads AJAX content into an element which already contains content, and then animates the initial content away, replacing it with the new content.</p>
<h2 class="page-header" id="basic-usage">Basic Usage</h2><p>Include Slide Load in your project, and then replacing content is as easy as this:</p>
<pre><code class="lang-html">&lt;div id=&quot;cool-element&quot;&gt;&lt;/ul&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<pre><code class="lang-js">$(&quot;#cool-element&quot;).pushLoad(&quot;/cooler-content.html&quot;);
</code></pre>
<h2 class="page-header" id="additional-options">Additional options</h2><p>Other available options for the pushLoad call include:</p>
<pre><code class="lang-js">$(&quot;#cool-element&quot;).pushLoad(&quot;/cooler-content.html&quot;, &quot;left&quot;);
</code></pre>
<p>This code will animate the existing content to the left, instead of the default which is to animate to the bottom.</p>
<pre><code class="lang-js">$(&quot;#cool-element&quot;).pushLoad({
    transition: &quot;right&quot;,
    ajax: {
        url: &quot;/cooler-content.html&quot;,
        dataType: &#39;html&#39;,
        type: &#39;POST&#39;,
        data: {
            testing: true,
        },
    },
});
</code></pre>
<p>When passing an object to the pushLoad call there are two main properties to set.  The first is the transition property (which defaults to &quot;bottom&quot;) and the second is the ajax object.  The ajax object accepts all properties that are accepted by the <a href="https://api.jquery.com/jQuery.ajax/">jQuery.ajax()</a> method.  You&#39;ll want to be sure to include the url property of the ajax object, or else it defaults to load the root.</p>
<h2 class="page-header" id="events">Events</h2><p>Slide Load has three events that you can hook into.  They are <code>clone</code>, <code>animate</code> and  <code>complete</code>.  <code>Clone</code> and <code>complete</code> are triggered on the <code>Document</code>, while <code>animate</code> is triggered on the called element. They are namespaced with the prefix <code>pl.</code> Here&#39;s how to use them:</p>
<pre><code class="lang-js">$(Document).on(&quot;pl.clone&quot;, function(e, $el) {
    console.log(&quot;You&#39;re content has been loaded!&quot;);
});
</code></pre>
<pre><code class="lang-js">$(&quot;#cool-element&quot;).on(&quot;pl.animate&quot;, function(e, $el) {
    console.log(&quot;About to start animating the old content away!&quot;);
});
</code></pre>
<pre><code class="lang-js">$(Document).on(&quot;pl.complete&quot;, function(e, $el) {
    console.log(&quot;All finished loading&quot;);
});
</code></pre>
<p>Currently, the <code>$el</code> variable is the jQuery object pushLoad was originally called on.</p>
<h2 class="page-header" id="methods">Methods</h2><p>There are currently no methods available to use outside of the loader.</p>
<h2 class="page-header" id="todo">Todo</h2><ul>
<li>Abstract transition method so that additional transitions can be added from outside the loader.</li>
<li>Make all events fire on the initial element.</li>
</ul>
